Trio Project/Assets/MM_Folder/Assets/PlayerHolder.prefab.meta
Trio Project/Assets/MM_Folder/Assets/Projectiles.meta
Trio Project/Assets/Resources/LevelSpawningRooms/Open Rooms/SpawnerRoom.prefab.meta~c92087ecb3776c555c6389a2afd3902a59f5c12b
